<mat-card [ngClass]="{disconnected: !device.isConnected}">
  <mat-card-header>
    <mat-card-title title="{{device.name}}">{{device.name}}</mat-card-title>
    <mat-card-subtitle>
      {{device.roomName}}
      <sh-detach-from-room [deviceId]="device.id"
                           [roomId]="device.roomId"
                           *ngIf="device.isAssignedToRoom; else attachToRoom"></sh-detach-from-room>
      <ng-template #attachToRoom>
        <sh-attach-to-room [deviceId]="device.id"></sh-attach-to-room>
      </ng-template>
    </mat-card-subtitle>
    <div class="info">
      <button mat-icon-button [matMenuTriggerFor]="options" aria-label="Device options">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #options="matMenu">
        <button mat-menu-item  [routerLink]="['..', 'device', device.id]">
          <mat-icon>info_outlined</mat-icon> Details
        </button>
        <button mat-menu-item (click)="addSchedule()">
          <mat-icon>schedule</mat-icon> Add schedule
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <sh-switch-status *ngFor="let outlet of device.getSwitchesOutlet(); trackBy: trackByOutlet"
                      [isEnabled]="device.isConnected"
                      [deviceId]="device.id"
                      [switchModel]="device.getOutlet(outlet)"
                      (change)="switchesStateConnectorService.toggle(device.id, $event)"></sh-switch-status>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div class="last-update">
      <sh-last-update [lastUpdate]="device.lastStatusChangeTimestamp"></sh-last-update>
    </div>
    <div class="power-on-info">
      <mat-icon color="warn" *ngIf="!device.isConnected" title="Disconnected">power_off</mat-icon>
      <sh-device-on-off *ngIf="device.isConnected"
                        [isEnabled]="!device.isSingleSwitch"
                        (toggle)="switchesStateConnectorService.onOff(device.id, $event)"></sh-device-on-off>
    </div>
  </mat-card-actions>
</mat-card>
