@import "../../../variables";

mat-toolbar {
  margin: 0;
  justify-content: space-between;

  h1 {
    width: 200px;
  }

  .menu {
    flex: 1 1  100%;
    text-align: center;
  }

  .info {
    font-style: italic;
    color: $fontGray;

    width: 200px;

    span{
      display: block;
      text-align: right;

      &.build-date {
        font-size: 0.7em !important;
      }
    }
  }
}
