.actions-bar {
  margin: 1em 0 2em;
  display: flex;
  align-items: center;

  .filters {
    flex: 1;
  }

  .actions {
    flex: 1;
    text-align: right;
  }

  button {
    margin-left: 1em;
  }
}

.devices-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
