.actions-bar {
  margin: 1em;
  display: flex;
  align-items: center;

  .filters {
    flex: 1;
  }

  .actions {
    flex: 1;
    text-align: right;
  }

  button {
    margin-left: 1em;
  }
}

.devices-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  sh-device-box {
    display: block;
    margin: 1em;
  }
}

@media all and (max-width: 800px) {
  .actions-bar {
    flex-direction: column;
    flex-flow: column-reverse;

  .filters {
      margin-top: 5px;
    }
  }

  .devices-list {
    justify-content: center;
  }
}
