.idea
/certs/server.crt
/certs/server.key
/dist/
/crontab/crontab-restart.sh
/node_modules
/smart-home/

/templates/environment-smart-home.ts
apps/smart-home-server/config.env
apps/weather-stations-microservice/config.env
apps/weather-stations-subscriber/config.env
