@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-yellow);
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Export theme colors
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$fontInverseColor: mat-color($app-primary, 50);

$grayBg: mat-color($app-primary, 100);

$fontGray: $black-12-opacity;

$fontFamily: mat-font-family(mat-typography-config());

$extraSmallWindowWidth: 400px;
$smallWindowWidth: 800px;
