<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span class="title">Schedule</span>
      <div class="header-actions">
        <button type="button" mat-icon-button (click)="close.emit()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="overflow-box">
      <div class="info" *ngIf="list.length === 0; else listView">No schedule for device</div>
      <ng-template #listView>
        <sh-schedule-details *ngFor="let schedule of list; trackBy: trackByIdAndActiveStatus"
                             [schedule]="schedule"
                             (onActiveChange)="changeActive($event)"
                             (onRemove)="remove($event)"
        ></sh-schedule-details>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
